@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP";
  src: url(../../font/NotoSansJP-VariableFont_wght.eot), url(../../font/NotoSansJP-VariableFont_wght.ttf), url(../../font/NotoSansJP-VariableFont_wght.woff);
}
* {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}

/*-----HEADER-----*/
.header_change_color {
  background-color: #1361a5;
  border-bottom: 5px solid #2ebfc7;
  transition-duration: 0.5s;
}

header {
  transition-duration: 0.5s;
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  display: flex;
  width: 100%;
  height: 80px;
}
header .logo {
  width: 200px;
  height: 80px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
}
header .ham_menu {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  top: 0;
}
header .ham_menu .ham_btn {
  z-index: 16;
  position: absolute;
  top: 0;
  right: 0;
  width: 67px;
  height: 80px;
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
header .ham_menu .ham_btn .btn_line {
  display: block;
  width: 35px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition-duration: 0.3s;
}

.btn_line::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 16px;
  width: 35px;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}

.btn_line::after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 16px;
  width: 35px;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}

/*-----menu body-----*/
.menu_body {
  transition-duration: 0.5s;
  position: absolute;
  background-color: #fff;
  /*-----hide menu-----*/
  right: -100%;
  opacity: 0;
  overflow: hidden;
  /*--------------------*/
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_body .menu_logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 5%;
}
.menu_body .menu_link {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 390px;
  padding: 0 8px;
}
.menu_body .menu_link li {
  width: 100%;
  height: 100%;
  /*-----list style reset-----*/
  padding-left: 0;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /*--------------------*/
}
.menu_body .menu_link li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  max-height: 80px;
  border-bottom: 3px solid #2ebfc7;
  color: #141414;
  font-weight: bold;
  font-size: 16px;
}
.menu_body .menu_btn {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.menu_body .menu_btn a {
  margin-top: 10%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
}
.menu_body .menu_btn .menu_btn01 {
  transition-duration: 0.3s;
  background-color: #2ebfc7;
  border: 3px solid #fff;
  color: #fff;
}
.menu_body .menu_btn .menu_btn02 {
  transition-duration: 0.3s;
  background-color: #fff;
  color: #141414;
  border: 3px solid #2ebfc7;
}

/*-----Key Visual-----*/
.KV {
  height: 844px;
  width: auto;
  margin-bottom: 24px;
  position: relative;
}
.KV .down_arrow {
  animation-timing-function: ease-out;
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
.KV .key_v {
  position: relative;
  height: 100%;
  width: auto;
  background-image: url(../../img/KV02.jpg);
  background-repeat: no-repeat;
  height: 844px;
  width: auto;
  background-position: center;
}
.KV .key_v .title01 {
  position: absolute;
  background-color: #fff;
  bottom: 200px;
  right: 16px;
  padding: 2px;
  margin-bottom: 100px;
  font-size: 30px;
  animation: text 1s infinite;
}
.KV .key_v .title02 {
  position: absolute;
  background-color: #fff;
  bottom: 200px;
  right: 16px;
  padding: 2px;
  margin-bottom: 40px;
  font-size: 30px;
  animation: text 1.3s infinite;
}
.KV .key_v .title03 {
  position: absolute;
  background-color: #fff;
  bottom: 200px;
  right: 16px;
  padding: 2px;
  font-size: 18px;
  animation: text 1.6s infinite;
}

/*-----section text-----*/
main {
  width: 100%;
  background-color: #ffffff;
}

section {
  background-color: #ffffff;
  height: 100%;
}

.intro {
  margin: 0 auto;
  opacity: 0;
  transition-duration: 0.5s;
}

.Web_design_show {
  opacity: 1;
  transition-duration: 0.5s;
}

.Web_learning_show {
  opacity: 1;
  transition-duration: 0.5s;
}

.Web_learning {
  position: relative;
  z-index: 0;
  padding: 16px;
}

.one {
  position: absolute;
  top: 150px;
  left: -30px;
  opacity: 0.3;
  z-index: -1;
  width: 200px;
}

.two {
  position: absolute;
  top: 330px;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  width: 200px;
}

.Web_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 64px 0 16px 0;
}

.block {
  margin: 0 auto;
  display: flex;
  width: 90%;
  height: 10px;
  background-color: #1361a5;
  border-radius: 20px;
}

p {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin: 24px 0 24px 0;
}

.content_link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 60px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #141414;
  background-color: #fff;
  border: 3px solid #f6cb30;
  transition-duration: 0.3s;
}

.intro_test {
  opacity: 0;
  transition-duration: 0.5s;
}

.intro_test_show {
  opacity: 1;
  transition-duration: 0.5s;
}

.test_all {
  background-color: #ffffff;
  padding: 72px 16px 56px 16px;
}

.test_intro_content {
  position: relative;
  border-radius: 32px;
  padding: 16px;
  border: 3px solid #1361a5;
}
.test_intro_content h2 {
  margin-top: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.test_intro_content p {
  font-size: 16px;
  line-height: 32px;
}
.test_intro_content .test_link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 60px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #141414;
  background-color: #f6cb30;
  border: 3px solid #f6cb30;
}

.test_intro_content::before {
  content: "";
  background-image: url(../../img/tag_アートボード\ 1.svg);
  position: absolute;
  top: -30px;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

/*-----footer-----*/
footer {
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-top: 3px solid #1361a5;
  background-color: #ffffff;
}
footer .footer_link {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 40px;
}
footer .footer_link .footer_link_a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
footer .footer_link a {
  text-decoration: none;
  color: #141414;
  padding-bottom: 8px;
}
footer .footer_link p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
}
footer .jec_logo_footer {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  width: 200px;
}
footer .jec_logo_footer img {
  width: 200px;
}
footer .copyright {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  background-color: #1361a5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----hover-----*/
section a:hover {
  background-color: #f6cb30;
  border: 3px solid #f6cb30;
  color: #141414;
  transition-duration: 0.3s;
}

.test_link:hover {
  background-color: #fff;
  border: 3px solid #f6cb30;
  color: #141414;
  transition-duration: 0.3s;
}

.menu_link li a:hover {
  background-color: #2ebfc7;
  color: #fff;
  transition-duration: 0.3s;
}

.menu_btn li .menu_btn01:hover {
  background-color: #fff;
  border: 3px solid #2ebfc7;
  color: #343434;
  transition-duration: 0.3s;
}

.menu_btn li .menu_btn02:hover {
  background-color: #2ebfc7;
  border: 3px solid #2ebfc7;
  color: #fff;
  transition-duration: 0.3s;
}

.footer_link a:hover {
  color: #1361a5;
}

/*-----clicked style-----*/
.btn_line_clicked::before {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  background-color: #1361a5;
  transition-duration: 0.3s;
}

.btn_line_clicked::after {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  background-color: #1361a5;
  transition-duration: 0.3s;
}

.btn_line_clicked {
  background-color: rgba(255, 255, 255, 0) !important;
  transition-duration: 0.3s;
}

.menu_body_clicked {
  transition-duration: 0.5s;
  right: 0;
  opacity: 1;
  overflow: hidden;
}

/*-----animatiom-----*/
.down_arrow {
  animation: arrow 1.3s infinite;
}

@keyframes arrow {
  0% {
    bottom: 70px;
  }
  50% {
    bottom: 80px;
  }
  60% {
    bottom: 70px;
  }
  70% {
    bottom: 60px;
  }
  80% {
    bottom: 50px;
  }
  100% {
    bottom: 70px;
  }
}
@keyframes text {
  0% {
    right: 16px;
  }
  50% {
    right: 24px;
  }
  100% {
    right: 16px;
  }
}
@keyframes text_pc {
  0% {
    left: 66px;
  }
  50% {
    left: 74px;
  }
  100% {
    left: 66px;
  }
}
/*--------------------

Tab Version

--------------------*/
@media screen and (min-width: 600px) {
  footer .footer_link {
    gap: 100px;
  }
  .one {
    width: 250px;
  }
  .two {
    width: 250px;
    top: 240px;
  }
  .test_intro_content::before {
    height: 90px;
    width: 90px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    height: 100%;
    max-height: 250px;
    padding-top: 24px;
  }
  footer .footer_link {
    gap: 0;
    width: 90%;
  }
  footer .footer_link .footer_link_a {
    display: flex;
    flex-direction: unset;
  }
  footer .footer_link .footer_link_a a {
    margin: 8px;
  }
  .menu_body {
    width: 70vw;
    box-shadow: -5px 0px 20px rgba(10, 60, 103, 0.5764705882);
  }
}
@media screen and (min-width: 1024px) {
  main {
    width: 100%;
    margin: 0 auto;
  }
  main .intro,
  main .test_intro,
  main .test_intro_content {
    width: 80%;
  }
  main .test_intro_content {
    margin: 0 auto;
  }
  body {
    width: 100%;
  }
  .KV {
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }
  .KV .key_v {
    background-image: url(../../img/KV02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-position: 0 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  .KV .key_v .title01 {
    font-size: 60px;
    margin: 0;
    bottom: 300px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    animation: none;
  }
  .KV .key_v .title02 {
    font-size: 60px;
    margin: 0;
    bottom: 200px;
    left: 50px;
    right: 50px;
    padding-bottom: 24px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    animation: none;
  }
  .KV .key_v .title03 {
    animation: none;
    font-size: 40px;
    bottom: 120px;
    right: 50px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
  }
  .menu_body {
    width: 50vw;
    box-shadow: -5px 0px 20px rgba(10, 60, 103, 0.5764705882);
  }
  footer {
    height: 100%;
  }
  footer .footer_link .footer_link_a {
    display: flex;
    flex-direction: unset;
  }
  footer .footer_link .footer_link_a a {
    margin: 16px;
  }
  .intro h2 {
    font-size: 32px;
  }
  .intro p {
    font-size: 18px;
    line-height: 40px;
  }
  .test_intro_content h2 {
    font-size: 24px;
  }
  .test_intro_content p {
    font-size: 18px;
  }
}/*# sourceMappingURL=index.css.map */