@charset "UTF-8";
    
*{
    // border: solid 1px rgb(255, 1, 1);

    // box-sizing: border-box;

    font-family: MS Pゴシック;
    // font-family: Montserrat;
}

$base_color: #1361A5;
$main_color: #73B7BB;
$text_color: #343434;
$bg_color: #ffffff;

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*-----HEADER-----*/

.header_change_color{
    background-color: $base_color;
    border-bottom: 5px solid $main_color;

    transition-duration: 0.5s;
}

header{
    transition-duration: 0.5s;

    z-index: 5;

    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    // left: 50%;
    // transform: translate(-50%, 0);

    display: flex;
    width: 100%;
    // max-width: 390px;
    height: 80px;

    .logo{
        width: 200px;
        height: 80px;
        margin-left: 16px;
        display: flex;
        justify-content: center;
    }

    .ham_menu{
        position: absolute;
        width: 100vw;
        max-width: 100%;
        // height: 100vh;
        top: 0;

        .ham_btn{
            z-index: 16;
            position: absolute;

            top: 0;
            right: 0;

            width: 67px;
            height: 80px;

            padding: 28px 16px;

            display: flex;
            flex-direction: column;
            justify-content: center;       
            
            cursor: pointer;

            .btn_line{
                display: block;
    
                width: 35px;
                height: 3px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 2px;

                transition-duration: 0.3s;
            }
        }
    }
}
.btn_line::before{
    content: '';
    position: absolute;
    top: 28px;
    left: 16px;
    width: 35px;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);

    transition-duration: 0.3s;

}
.btn_line::after{
    content: '';
    position: absolute;
    bottom: 28px;
    left: 16px;
    width: 35px;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);

    transition-duration: 0.3s;

}

/*-----menu body-----*/

.menu_body{
    transition-duration: 0.5s;

    position: absolute;
    top: -16px;
    background-color: #fff;

    /*-----hide menu-----*/
    right: -100%;
    opacity: 0;
    overflow: hidden;
    /*--------------------*/
    z-index: 10;

    width: 100vw;
    max-width: 390px;
    height: 100vh;
    padding-top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu_logo{
        width: 200px;
        height: auto;

        position: absolute;
        top: 15%;

    }

    .menu_link{
        list-style: none;
        display: flex;
        flex-direction: column;

        width: 90vw;
        max-width: 390px;
        padding: 0 8px;

        li{
            width: 100%;
            height: 100%;

            /*-----list style reset-----*/
            padding-left: 0;
            padding-inline-start: 0px;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        /*--------------------*/

            a{
                text-decoration: none;
                display: flex;
                justify-content: center;

                padding: 30px;
                max-height: 80px;

                border-bottom: 3px solid $main_color;
                color: $text_color;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

    .menu_btn{
        list-style: none;

        display: flex;
        flex-direction: column;

        a{
            margin-top: 48px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 60px;

            font-weight: bold;
            font-size: 14px;

            border-radius: 50px;
        }

        .menu_btn01{
            transition-duration: 0.3s;

            background-color: $main_color;
            border: 3px solid #fff;
            color: #fff;
        }
        .menu_btn02{
            transition-duration: 0.3s;

            background-color: #fff;
            color: $text_color;
            border: 3px solid $main_color;
        }
    }
}

/*-----Key Visual-----*/

main{
    width: 100%;
}

.KV{
    height: 844px;
    width: auto;
    
    margin-bottom: 24px;
    position: relative;

    .down_arrow{
        animation-timing-function: ease-out;

        width: 56px;
        height: 56px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);

    }

    .key_v{
        position: relative;
        height: 100%;
        width: auto;

        background-image: url(../../img/KV02.jpg);
        background-repeat: no-repeat;
        height: 844px;
        width: auto;
        background-position: center;

        .title01{
            position: absolute;
            background-color: #fff;
            bottom: 200px;
            right: 16px;
            padding: 2px;

            margin-bottom: 100px;

            font-size: 30px;

            animation: text 1s infinite;
        }
        .title02{
            position: absolute;
            background-color: #fff;
            bottom: 200px;
            right: 16px;
            padding: 2px;

            margin-bottom: 40px;

            font-size: 30px;

            animation: text 1.3s infinite;
        }
        .title03{
            position: absolute;
            background-color: #fff;
            bottom: 200px;
            right: 16px;
            padding: 2px;

            font-size: 18px;

            animation: text 1.6s infinite;
        }
    }
}

/*-----section text-----*/
main{
    background-color: $bg_color;
}

section{
    background-color: $bg_color;
    height: 100%;
}
.intro{
    margin: 0 auto;
}

.Web_learning{
    position: relative;
    z-index: 0;
}

.one{
    position: absolute;
    top: 140px;
    left: -30px;
    opacity: 0.5;
    z-index: -1;

    width: 200px;
}
.two{
    position: absolute;
    top: 320px;
    right: -30px;
    opacity: 0.5;
    z-index: -1;

    width: 200px;
}

.Web_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 64px 0 16px 0;

    // margin: 64px 0 16px 0;
}

.block{
    margin: 0 auto;

    display: flex;
    width: 90%;
    height: 10px;
    background-color: $base_color;
    border-radius: 20px;
}

p{
    font-size: 16px;
    line-height: 32px;
    text-align: center;

    margin: 24px 0 24px 0;
}
.content_link{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 290px;
    height: 60px;

    border-radius: 30px;

    text-decoration: none;

    font-size: 14px;
    font-weight: bold;
    color: $text_color;

    background-color: #fff;
    border: 3px solid $main_color;

    transition-duration: 0.3s;
}

.test_all{
    background-color: $bg_color;
    padding: 72px 16px 56px 16px;
}
.test_intro_content{
    position: relative;

    // margin: 72px 16px 56px 16px;
    border-radius: 32px;
    padding: 16px;

    border: 3px solid $base_color;

    h2{
        margin-top: 32px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
    .test_link{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 290px;
        height: 60px;

        border-radius: 30px;

        text-decoration: none;

        font-size: 14px;
        font-weight: bold;
        color: #fff;

        background-color: $main_color;
        border: 3px solid $main_color;
    }
}
.test_intro_content::before{
    content: '';
    background-image: url(../../img/tag_アートボード\ 1.svg);
    position: absolute;
    top: -30px;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
}

/*-----footer-----*/

footer{
    width: 100%;
    // max-width: 390px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-top: 3px solid $base_color;
    background-color: $bg_color;

    .footer_link{
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-left: 48px;

        a{
            text-decoration: none;
            color: $text_color;
        }
        p{
            margin: 0;
            padding: 0;
            text-align: left;
        }
    }

    .jec_logo_footer{
        margin: 40px auto;
        display: flex;
        justify-content: center;

        width: 200px;

        img{
            width: 200px;    
        }
    }

    .copyright{
        font-size: 12px;
        color: $bg_color;

        margin: 0;

        background-color: $base_color;

        height: 80px;
    }

}

/*-----hover-----*/

section a:hover{
    background-color: $main_color;
    border: 3px solid $main_color;
    color: #fff;

    transition-duration: 0.3s;
}
.test_link:hover{
    background-color: #fff;
    border: 3px solid $main_color;
    color: $text_color;

    transition-duration: 0.3s;
}

.menu_link li a:hover{
    background-color: $main_color;
    // border: 3px solid $bg_color;
    color: #fff;

    transition-duration: 0.3s;
}

.menu_btn li .menu_btn01:hover{
    background-color: #fff;
    border: 3px solid $main_color;
    color: #343434;

    transition-duration: 0.3s;

}
.menu_btn li .menu_btn02:hover{
    background-color: $main_color;
    border: 3px solid $main_color;
    color: #fff;

    transition-duration: 0.3s;

}

.footer_link a:hover{
    color: $base_color;
}

/*-----clicked style-----*/

.btn_line_clicked::before{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    background-color: $base_color;

    transition-duration: 0.3s;
}
.btn_line_clicked::after{
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    background-color: $base_color;

    transition-duration: 0.3s;
}
.btn_line_clicked{
    background-color: rgba(255, 255, 255, 0) !important;

    transition-duration: 0.3s;
}

.menu_body_clicked{
    transition-duration: 0.5s;

    right: 0;
    opacity: 1;
    overflow: hidden;
}

/*-----animatiom-----*/

.down_arrow{
    animation: arrow 1.3s infinite;
}

@keyframes arrow{
    0%{
        bottom: 70px;
    }
    50%{
        bottom: 80px;
    }
    60%{
        bottom: 70px;
    }
    70%{
        bottom: 60px;
    }
    80%{
        bottom: 50px;
    }
    100%{
        bottom: 70px;
    }
}

@keyframes text{
    0%{
        right: 16px;
    }
    50%{
        right: 24px;
    }
    100%{
        right: 16px;
    }
}