@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.test_body {
  width: 100%;
  height: 100vh;
  padding: 16px;
  margin: 0 auto;
  background-color: #1361A5;
  overflow: hidden;
}
.test_body .frame {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.test_body .frame .container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.test_body .frame .first_page {
  width: 100%;
  height: 100%;
  border: 3px solid #73B7BB;
  border-radius: 20px;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  background-image: url(../../img/coding01.svg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: 50% 480px;
}
.test_body .frame .first_page .content_start {
  text-align: center;
}
.test_body .frame .first_page .content_start .start_word {
  margin: 16px 0 56px 0;
  color: #343434;
}
.test_body .frame .first_page button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border: 3px solid #73B7BB;
  border-radius: 30px;
  color: #343434;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}

.test {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #73B7BB;
  border-radius: 20px;
  padding: 40px 16px;
  position: relative;
  top: -100%;
  right: -100vw;
  background-color: #ffffff;
}
.test .quiz_title {
  color: #343434;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  position: relative;
  padding-top: 20px;
}
.test button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border: 3px solid #73B7BB;
  border-radius: 30px;
  color: #343434;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}
.test .normal {
  background-color: #73B7BB;
  border: 3px solid #73B7BB;
  color: #ffffff;
}
.test .test_content {
  height: 500px;
}
.test .test_content .button {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
}

.score_page {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #73B7BB;
  border-radius: 20px;
  padding: 40px 16px;
  position: relative;
  right: -100vw;
}
.score_page .jec, .score_page .get_doc {
  background-color: #73B7BB;
  border: 3px solid #73B7BB;
  color: #ffffff;
}
.score_page .rank {
  position: relative;
  margin: 40px auto;
  width: 180px;
  height: 180px;
}
.score_page .commend {
  position: relative;
  bottom: 0;
  color: #343434;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
}

b {
  font-size: 24px;
}

.jec_hide {
  display: none !important;
}

.get_doc_hide {
  display: none !important;
}

.hotpage_hide {
  display: none !important;
}

.score_show {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #73B7BB;
  border-radius: 20px;
  padding: 40px 8px;
  position: relative;
  top: -200%;
  right: 0;
  background-color: #ffffff;
  transition-duration: 0.8s;
}

.quiz_content {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #73B7BB;
  border-radius: 16px;
  margin: 32px 0;
}

.quiz_content::before {
  content: "";
  background-image: url(../../img/對話框三角形_アートボード\ 1.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -35px;
  left: 0;
}

.quiz_content_hide {
  display: none;
}

.test_show {
  width: 100%;
  height: 100%;
  border: 3px solid #73B7BB;
  border-radius: 20px;
  padding: 40px 8px;
  position: relative;
  top: -100%;
  right: 0;
  background-color: #ffffff;
  transition-duration: 0.8s;
}

.rank_btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.rank_btn button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  width: 290px;
  height: 50px;
  background-color: #ffffff;
  border: 3px solid #73B7BB;
  border-radius: 30px;
  color: #343434;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}

h1 {
  font-size: 30px;
  line-height: 56px;
  text-align: center;
  color: #343434;
}

.block {
  width: 90%;
  height: 10px;
  background-color: #1361A5;
  border-radius: 20px;
  margin: 24px auto;
}

.bgc_pic {
  z-index: 0;
  position: absolute;
  width: 250px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

/*-----hover-----*/
button:hover {
  background-color: #73B7BB !important;
  color: #ffffff !important;
  transition-duration: 0.3s;
}

.normal:hover {
  background-color: #ffffff !important;
  border: 3px solid #73B7BB !important;
  color: #343434 !important;
}

.jec:hover {
  background-color: #ffffff !important;
  border: 3px solid #73B7BB !important;
  color: #343434 !important;
}

.get_doc:hover {
  background-color: #ffffff !important;
  border: 3px solid #73B7BB !important;
  color: #343434 !important;
}

/*--------------------

Tab Version

--------------------*/
@media screen and (min-width: 600px) {
  .start_word {
    font-size: 24px;
  }
  .test_content .quiz_title {
    font-size: 32px;
    line-height: 48px;
    padding-top: 24px;
  }
  .test_content .bgc_pic {
    width: 300px;
  }
  .quiz_content {
    position: relative;
    top: 32px;
    font-size: 16px;
    line-height: 24px;
    padding: 24px;
    color: #ffffff;
    text-align: center;
    background-color: #73B7BB;
    border-radius: 16px;
    margin: 24px 0;
  }
  .score_page .rank {
    position: relative;
    margin: 40px auto;
    width: 180px;
    height: 180px;
  }
  .score_page .commend {
    font-size: 18px;
    line-height: 40px;
    padding-top: 10px;
  }
  .score_page .commend b {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .quiz_content {
    margin: 32px 40px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .quiz_content {
    margin: 32px 80px;
    font-size: 18px;
  }
  .score_page .commend {
    line-height: 50px;
    font-size: 20px;
  }
  .score_page .commend b {
    font-size: 28px;
  }
}/*# sourceMappingURL=test.css.map */