@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP";
  src: url(../../font/NotoSansJP-VariableFont_wght.eot), url(../../font/NotoSansJP-VariableFont_wght.ttf), url(../../font/NotoSansJP-VariableFont_wght.woff);
}
* {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.test_body {
  width: 100%;
  min-height: 760px;
  height: 100vh;
  padding: 16px;
  margin: 0 auto;
  background-color: #1361a5;
  overflow: hidden;
}
.test_body .frame {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.test_body .frame .container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.test_body .frame .first_page {
  width: 100%;
  height: 100%;
  border: 3px solid #34ccd4;
  border-radius: 20px;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  background-image: url(../../img/coding01.svg);
  background-repeat: no-repeat;
  background-size: 250px 250px;
  background-position: 50% 550px;
}
.test_body .frame .first_page .content_start {
  text-align: center;
}
.test_body .frame .first_page .content_start .start_word {
  margin: 16px 0 56px 0;
  font-size: 20px;
  line-height: 40px;
  color: #141414;
}
.test_body .frame .first_page .content_start .start_word .all_question {
  font-size: 16px;
  color: #343434;
}
.test_body .frame .first_page button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border: 3px solid #34ccd4;
  border-radius: 30px;
  color: #141414;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}

.test {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #34ccd4;
  border-radius: 20px;
  padding: 40px 16px;
  position: relative;
  top: -100%;
  right: -100vw;
  background-color: #ffffff;
}
.test .quiz_title {
  color: #141414;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  position: relative;
}
.test button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border: 3px solid #34ccd4;
  border-radius: 30px;
  color: #141414;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}
.test .normal {
  background-color: #34ccd4;
  border: 3px solid #34ccd4;
  color: #ffffff;
}
.test .test_content {
  height: 500px;
}
.test .test_content .button {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
}
.test .counter {
  text-align: center;
  color: #1361a5;
  font-size: 18px;
  font-weight: bold;
}

.score_page {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #34ccd4;
  border-radius: 20px;
  padding: 40px 16px;
  position: relative;
  right: -100vw;
}
.score_page .jec,
.score_page .get_doc {
  background-color: #34ccd4;
  border: 3px solid #34ccd4;
  color: #ffffff;
}
.score_page .rank {
  position: relative;
  margin: 40px auto;
  width: 150px;
  height: 150px;
}
.score_page .commend {
  position: relative;
  bottom: 0;
  color: #141414;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
}

b {
  font-size: 24px;
}

.jec_hide {
  display: none !important;
}

.get_doc_hide {
  display: none !important;
}

.hotpage_hide {
  display: none !important;
}

.score_show {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #34ccd4;
  border-radius: 20px;
  padding: 40px 8px;
  position: relative;
  top: -200%;
  right: 0;
  background-color: #ffffff;
  transition-duration: 0.8s;
}

.quiz_content {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
  color: #545454;
  width: fit-content;
  background-color: #34ccd4;
  border-radius: 16px;
  margin: 32px 0 0 0;
}
.quiz_content .name {
  display: flex;
  justify-content: center;
}

.quiz_content::before {
  content: "";
  background-image: url(../../img/對話框三角形_アートボード\ 1.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -35px;
  left: 0;
}

.quiz_content_hide {
  display: none;
}

.test_show {
  width: 100%;
  height: 100%;
  border: 3px solid #34ccd4;
  border-radius: 20px;
  padding: 40px 8px;
  position: relative;
  top: -100%;
  right: 0;
  background-color: #ffffff;
  transition-duration: 0.8s;
}

.rank_btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.rank_btn button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  width: 290px;
  height: 60px;
  background-color: #ffffff;
  border: 3px solid #34ccd4;
  border-radius: 50px;
  color: #141414;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.3s;
}

h1 {
  font-size: 30px;
  line-height: 56px;
  text-align: center;
  color: #141414;
}

.block {
  width: 90%;
  height: 10px;
  background-color: #1361a5;
  border-radius: 20px;
  margin: 24px auto;
}

.bgc_pic {
  z-index: 0;
  position: absolute;
  width: 250px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

/*-----hover-----*/
button:hover {
  background-color: #34ccd4 !important;
  color: #ffffff !important;
  transition-duration: 0.3s;
}

.normal:hover {
  background-color: #ffffff !important;
  border: 3px solid #34ccd4 !important;
  color: #141414 !important;
}

.jec:hover {
  background-color: #ffffff !important;
  border: 3px solid #34ccd4 !important;
  color: #141414 !important;
}

.get_doc:hover {
  background-color: #ffffff !important;
  border: 3px solid #34ccd4 !important;
  color: #141414 !important;
}

/*--------------------

Tab Version

--------------------*/
@media screen and (min-width: 600px) {
  .start_word {
    font-size: 24px;
  }
  .test_content .quiz_title {
    font-size: 24px;
    line-height: 48px;
  }
  .test_content .bgc_pic {
    width: 300px;
  }
  .quiz_content {
    position: relative;
    top: 24px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    background-color: #34ccd4;
    border-radius: 16px;
    margin: 0 50px;
  }
  .score_page .rank {
    position: relative;
    margin: 40px auto;
    width: 120px;
    height: 120px;
  }
  .score_page .commend {
    font-size: 18px;
    line-height: 40px;
    padding-top: 10px;
  }
  .score_page .commend b {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .quiz_content {
    font-size: 16px;
    line-height: 30px;
  }
  .test_body .frame .first_page {
    background-size: 400px;
    background-position: 50% 600px;
  }
  .test_body .frame .first_page button {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
  }
  .score_page .commend {
    line-height: 50px;
    font-size: 20px;
  }
  .score_page .commend b {
    font-size: 28px;
  }
  .score_page .rank_btn {
    width: 300px;
  }
  .score_page .rank_btn button {
    width: 300px;
    height: 60px;
    border-radius: 100px;
    font-size: 16px;
  }
  .score_page .rank {
    width: 200px;
    height: 200px;
  }
  .test .button button {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .test_body .frame .first_page {
    background-size: 400px;
    background-position: 50% 600px;
  }
  .test_body .frame .first_page button {
    width: 350px;
    height: 80px;
    border-radius: 50px;
    font-size: 18px;
  }
  .quiz_content {
    line-height: 40px;
    font-size: 16px;
  }
  .score_page .commend {
    line-height: 50px;
    font-size: 20px;
  }
  .score_page .commend b {
    font-size: 28px;
  }
  .score_page .rank_btn {
    width: 300px;
  }
  .score_page .rank_btn button {
    width: 300px;
    height: 60px;
    border-radius: 100px;
    font-size: 16px;
  }
  .score_page .rank {
    width: 200px;
    height: 200px;
  }
  .test .button button {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
  }
  .test .quiz_title {
    font-size: 30px;
  }
}/*# sourceMappingURL=test.css.map */