@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
    
*{
    // border: solid 1px rgb(255, 1, 1);

    box-sizing: border-box;

    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    // font-weight: 300;
}

$base_color: #1361A5;
$main_color: #73B7BB;
$text_color: #141414;
$bg_color: #ffffff;

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*-----HEADER-----*/

.header_change_color{
    background-color: $base_color;
    border-bottom: 5px solid $main_color;

    transition-duration: 0.5s;
}

header{
    transition-duration: 0.5s;

    z-index: 5;

    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    // left: 50%;
    // transform: translate(-50%, 0);

    display: flex;
    width: 100%;
    // max-width: 390px;
    height: 80px;

    border-bottom: 5px solid $main_color;
    background-color: $bg_color;

    .logo{
        width: 200px;
        height: 80px;
        margin-left: 16px;
        display: flex;
        justify-content: center;
    }

    .ham_menu{
        position: absolute;
        width: 100vw;
        max-width: 100%;
        // height: 100vh;
        top: 0;

        .ham_btn{
            z-index: 16;
            position: absolute;

            top: 0;
            right: 0;

            width: 67px;
            height: 80px;

            padding: 28px 16px;

            display: flex;
            flex-direction: column;
            justify-content: center;       
            
            cursor: pointer;

            .btn_line{
                display: block;
    
                width: 35px;
                height: 3px;
                background-color: $base_color;
                border-radius: 2px;

                transition-duration: 0.3s;
            }
        }
    }
}
.btn_line::before{
    content: '';
    position: absolute;
    top: 28px;
    left: 16px;
    width: 35px;
    height: 3px;
    border-radius: 4px;
    background-color: $base_color;

    transition-duration: 0.3s;

}
.btn_line::after{
    content: '';
    position: absolute;
    bottom: 28px;
    left: 16px;
    width: 35px;
    height: 3px;
    border-radius: 4px;
    background-color: $base_color;

    transition-duration: 0.3s;

}

/*-----menu body-----*/

.menu_body{
    transition-duration: 0.5s;

    position: absolute;
    background-color: #fff;

    /*-----hide menu-----*/
    right: -100%;
    opacity: 0;
    overflow: hidden;
    /*--------------------*/
    z-index: 10;

    width: 100vw;
    height: 100vh;
    padding-top: 8%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu_logo{
        width: 200px;
        height: auto;

        position: absolute;
        top: 5%;

    }

    .menu_link{
        list-style: none;
        display: flex;
        flex-direction: column;

        width: 90vw;
        max-width: 390px;
        padding: 0 8px;

        li{
            width: 100%;
            height: 100%;

            /*-----list style reset-----*/
            padding-left: 0;
            padding-inline-start: 0px;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        /*--------------------*/

            a{
                text-decoration: none;
                display: flex;
                justify-content: center;

                padding: 30px;
                max-height: 80px;

                border-bottom: 3px solid $main_color;
                color: $text_color;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

    .menu_btn{
        list-style: none;

        display: flex;
        flex-direction: column;

        a{
            margin-top: 10%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 60px;

            font-weight: bold;
            font-size: 14px;

            border-radius: 50px;
        }

        .menu_btn01{
            transition-duration: 0.3s;

            background-color: $main_color;
            border: 3px solid #fff;
            color: #fff;
        }
        .menu_btn02{
            transition-duration: 0.3s;

            background-color: #fff;
            color: $text_color;
            border: 3px solid $main_color;
        }
    }
}

/*-----content-----*/

main{
    position: relative;

    width: 100%;
    background-color: $bg_color;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 30px;
        text-align: center;
        margin: 48px 0 32px 0;
    }

    .block{
        margin: 0 auto;

        display: flex;
        width: 90%;
        height: 10px;
        background-color: $base_color;
        border-radius: 20px;
    }

    h2{
        font-size: 30px;
        line-height: 40px;
        font-weight: normal;

        text-align: center;

        padding: 32px 20px;

    }

    .webdesign_intro{
    
        p{
        padding: 0 16px 16px 16px;
        }  
        
        font-size: 14px;
        line-height: 32px;

        img{
            border: 5px solid $bg_color;

            z-index: 1;
        }

        .img{
            position: relative;    
            width: 300px;

            margin: 0 auto;

            display: flex;
            justify-content: center;
        }
        .img01{
            padding-top: 40px;
            right: -16px;
        }
        .img01::before{
            content: '';
            width: 300px;
            height: 180px;
            background-color: $base_color;
            position: absolute;
            top: 10px;
            left: -32px;

            z-index: 0;
        }
        .img03{
            padding-bottom: 40px;
            left: -16px;
        }
        .img03::before{
            content: '';
            width: 300px;
            height: 180px;
            background-color: $base_color;
            position: absolute;
            bottom: 10px;
            right: -32px;

            z-index: 0;
        }
    }
}

.class_intro{

    position: relative;

    padding-bottom: 80px;

    h2{
        font-size: 16px;

        text-align: center;

        padding: 56px 0;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        list-style: none;

        gap: 56px;

        z-index: 1;

        li{
            display: flex;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 290px;
                height: 60px;

                text-decoration: none;

                font-size: 14px;
                font-weight: bold;

                color: $text_color;
                background-color: $bg_color;

                border: 3px solid $main_color;
                border-radius: 30px;

                z-index: 1;

                transition-duration: 0.3s;
            }
        }
    }

    img{
        position: absolute;
        z-index: 0;

        width: 280px;
        height: auto;

        bottom: 0;
        right: 0;

        z-index: 0;

        opacity: 0.5;
    }
}

.test_lead{
    padding: 56px 16px 56px 16px;
    background-color: $base_color;
    color: $bg_color;

    display: flex;
    justify-content: center;
    flex-direction: column;

    h3{
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }

    p{
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }

    a{
        margin: 48px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 290px;
        height: 60px;

        text-decoration: none;
        font-size: 14px;
        font-weight: bold;

        color: $text_color;
        background-color: $bg_color;

        border: 3px solid $main_color;
        border-radius: 30px;

        transition-duration: 0.3s;
    }

    img{
        width: 80px;

        margin: 0 auto;

        cursor: pointer;
    }
}

/*-----footer-----*/

footer{
    width: 100%;
    // max-width: 390px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-top: 3px solid $base_color;
    background-color: $bg_color;

    .footer_link{
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: center;
        gap: 40px;

        .footer_link_a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        a{
            text-decoration: none;
            color: $text_color;

            padding: 4px;
        }
        p{
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            padding: 0;
            text-align: left;
        }
    }

    .jec_logo_footer{
        margin: 40px auto;
        display: flex;
        justify-content: center;

        width: 200px;

        img{
            width: 200px;    
        }
    }

    .copyright{
        font-size: 12px;
        color: $bg_color;
        text-align: center;

        margin: 0;

        background-color: $base_color;

        height: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*-----hover-----*/

main a:hover, main ul>li>a:hover{
    background-color: $main_color;
    color: $bg_color;

    transition-duration: 0.3s;
}

.footer_link a:hover{
    color: $base_color;
}

.menu_link li a:hover{
    background-color: $main_color;
    // border: 3px solid $bg_color;
    color: #fff;

    transition-duration: 0.3s;
}

.menu_btn li .menu_btn01:hover{
    background-color: #fff;
    border: 3px solid $main_color;
    color: #343434;

    transition-duration: 0.3s;

}
.menu_btn li .menu_btn02:hover{
    background-color: $main_color;
    border: 3px solid $main_color;
    color: #fff;

    transition-duration: 0.3s;

}

/*-----clicked style-----*/

.btn_line_clicked::before{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    background-color: $base_color;

    transition-duration: 0.3s;
}
.btn_line_clicked::after{
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    background-color: $base_color;

    transition-duration: 0.3s;
}
.btn_line_clicked{
    background-color: rgba(255, 255, 255, 0) !important;

    transition-duration: 0.3s;
}

.menu_body_clicked{
    transition-duration: 0.5s;

    right: 0;
    opacity: 1;
    overflow: hidden;
}

/*--------------------

Tab Version

--------------------*/

@media screen and (min-width: 600px){
    
    footer{
        .footer_link{
            gap: 100px;
            }
    }

    .webdesign_intro{
        text-align: center;

        .img{
            width: 500px !important;

            img{
                width: 500px !important;
            }
        }
    }

    .class_intro img{
        width: 300px;
    }
}

@media screen and (min-width: 768px){
    
    footer{
        height: 100%;
        max-height: 250px;

        padding-top: 24px;

        .footer_link{
            // gap: 200px;
            gap: 0;
            width: 90%;

            .footer_link_a{
                display: flex;
                flex-direction: unset;

                a{
                    margin: 8px;
                }
            }
        }
    }

    .menu_body{
        width: 70vw;
        box-shadow: -5px 0px 20px #0a3c6793;    
    }

    main{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 32px;
        }
    }
}

/*--------------------

PC Version

--------------------*/

@media screen and (min-width: 1024px){
    main{
        width: 100%;

        margin: 0 auto;

        .content{
            width: 80%;

            margin: 0 auto;

            .what{

                margin: 56px auto;

                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: auto;
                grid-template-areas: "img title"
                                    "img content";

                gap: 20px;

                .img{
                    border: 10px solid $base_color;
                    grid-area: img;
                    width: 500px !important;
                    height: auto !important;

                    padding: 0;

                    top: 0;
                    left: 0;

                    box-shadow: 4px 4px 5px 1px #93a6a8;

                    img{
                        border: none;
                        width: 500px !important;
                        height: auto !important;

                        top: 0;
                        left: 0;
                    }
                }

                p{
                    grid-area: content;
                    font-size: 18px;
                    line-height: 40px;
                }
                h2{
                    grid-area: title;
                    font-size: 30px;

                    padding: 16px 0 0 0;
                }
                
            }

        }
        .webdesign_intro{
            margin-top: 80px;
        }
        .test_lead{
            width: 100%;

            h3{
                font-size: 24px;
            }
        }
    }

    .img01::before{
        display: none;
    }
    .img03::before{
        display: none;
    }

    .menu_body{
        width: 50vw;
        box-shadow: -5px 0px 20px #0a3c6793;    
    }

    footer{

        .footer_link{
            gap: 0;
            width: 90%;

            .footer_link_a{
                display: flex;
                flex-direction: unset;

                a{
                    margin: 8px 24px;
                }
            }
        }
    }
}